<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row d-flex align-items-center justify-content-center p-5" style="min-height: 500px">

    <% @listings.each do |listing| %>

      <%= link_to listing do %>


        <div class="col-12 col-sm-6 col-lg-4">

          <div class="row">
            <div class="col-12">
              <%= image_tag listing.image.thumb.url %>
            </div>
          </div>
          
          <div class="row">
            <div class="col-6">
              <%= listing.title %>
            </div>
            
            <div class="col-6">
              <%= listing.price %>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <%= listing.description %>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <%= listing.address %>
            </div>
          </div>

        </div>    
      <% end %>

   <% end %>

    
  </div>
</div>