<p id="notice"><%= notice %></p>

<h1>Listings</h1>

    <% @listings.each do |listing| %>

      <%= link_to listing do %>

      <div class="row d-flex align-items-center p-5">
        <div class="col-6">

          <div class="row">
            <div class="col">
              <%= image_tag listing.image.thumb.url %>
            </div>
          </div>
          
          <div class="row">
            <div class="col-6">
              <%= listing.title %>
            </div>
            
            <div class="col-6">
              <%= listing.price %>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <%= listing.description %>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <%= listing.address %>
            </div>
          </div>
        
        </div>
      </div>
      <% end %>

   <% end %>

  <%# </tbody>
</table> %>

<br>

<%= link_to 'New Listing', new_listing_path %>
